[main]
Description=
Host=12.47.86.13
AuthType=1
GroupName=Support_Group
GroupPwd=
enc_GroupPwd=4A3B4AC964839DA686DD624EC411569C053B72BF07CCFDC0D4F98838C732FC88BF35B0D5515C7B8E24B45B17674682A7
EnableISPConnect=0
ISPConnectType=0
ISPConnect=NationalAccess - BroadbandAccess
ISPPhonebook=C:\Documents and Settings\All Users\Application Data\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=yxianbo
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=1
TcpTunnelingPort=80
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=1
